*.dproj.local
*.groupproj.local
/.idea/
/__history/
/Win32/
/Example/Win32/
/Example/__history/
/Tina4Delphi.identcache
/Tina4DelphiProject.dsk
/Tina4DelphiProject.~dsk
/Tina4DelphiProject_prjgroup.tvsconfig
/Example/Tina4DelphiExample.identcache
/Example/__recovery/__recovery.ini
/Example/__recovery/DataModule.dfm
/Example/__recovery/DataModule.pas
/Example/Win64/
/Tina4DelphiDesign.identcache
/Win64/Debug/Tina4Core.dcu
/Win64/Debug/Tina4HttpServer.dcu
/Win64/Debug/Tina4REST.dcu
/Win64/Debug/Tina4RESTRequest.dcu
/Win64/Debug/Tina4Route.dcu
/Example/Linux64/Debug/FMUX.Api.dcu
/Example/Linux64/Debug/FMUX.Api.o
/Example/Linux64/Debug/FMUX.Config.dcu
/Example/Linux64/Debug/FMUX.Config.o
/Example/Linux64/Debug/FMX.Canvas.Linux.dcu
/Example/Linux64/Debug/FMX.Canvas.Linux.o
/Example/Linux64/Debug/FMX.Clipboard.Linux.dcu
/Example/Linux64/Debug/FMX.Clipboard.Linux.o
/Example/Linux64/Debug/FMX.Context.Linux.dcu
/Example/Linux64/Debug/FMX.Context.Linux.o
/Example/Linux64/Debug/FMX.Controls.Linux.dcu
/Example/Linux64/Debug/FMX.Controls.Linux.o
/Example/Linux64/Debug/FMX.Dialogs.Linux.dcu
/Example/Linux64/Debug/FMX.Dialogs.Linux.o
/Example/Linux64/Debug/FMX.Gestures.Linux.dcu
/Example/Linux64/Debug/FMX.Gestures.Linux.o
/Example/Linux64/Debug/FMX.Helpers.Linux.dcu
/Example/Linux64/Debug/FMX.Helpers.Linux.o
/Example/Linux64/Debug/FMX.MultiTouch.Linux.dcu
/Example/Linux64/Debug/FMX.MultiTouch.Linux.o
/Example/Linux64/Debug/FMX.Platform.Linux.dcu
/Example/Linux64/Debug/FMX.Platform.Linux.o
/Example/Linux64/Debug/FMX.Printer.Linux.dcu
/Example/Linux64/Debug/FMX.Printer.Linux.o
/Example/Linux64/Debug/Linux.OpenGL.dcu
/Example/Linux64/Debug/Linux.OpenGL.o
/Example/Linux64/Debug/System.Linux.Devices.dcu
/Example/Linux64/Debug/System.Linux.Devices.o
/Example/Linux64/Debug/Tina4Core.dcu
/Example/Linux64/Debug/Tina4Core.o
/Example/Linux64/Debug/Tina4HttpServer.dcu
/Example/Linux64/Debug/Tina4HttpServer.o
/Example/Linux64/Debug/Tina4REST.dcu
/Example/Linux64/Debug/Tina4REST.o
/Example/Linux64/Debug/Tina4Route.dcu
/Example/Linux64/Debug/Tina4Route.o
/Tina4Delphi.dsk
/Tina4Delphi.~dsk
/Tina4URLHeaderEditor.vlb
