*.dproj.local
*.groupproj.local
/.idea/
/__history/
/Win32/
/Example/Win32/
/Example/__history/
/Tina4Delphi.identcache
/Tina4DelphiProject.dsk
/Tina4DelphiProject.~dsk
/Tina4DelphiProject_prjgroup.tvsconfig
/Example/Tina4DelphiExample.identcache
